<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.contact_name %></h1>
    <p>
       Welcome to app
    </p>
  </body>
</html>
